rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isContador() {
      return request.auth != null && request.auth.token.email == "contato@pitagorascontabilidade.com.br";
    }

    match /clientes/{clienteId} {
      allow read: if isContador() || (request.auth != null && resource.data.email == request.auth.token.email);
      allow write: if isContador();
    }

    match /documentos/{docId} {
      allow read, update, delete: if isContador() || (request.auth != null && resource.data.emailCliente == request.auth.token.email);
      allow create: if isContador() || (request.auth != null && request.resource.data.emailCliente == request.auth.token.email);
    }

    match /notificacoes/{notifId} {
      allow read, update: if isContador() || (request.auth != null && resource.data.destino == request.auth.token.email);
      allow create, delete: if isContador();
    }
  }
}